#!/usr/bin/make -f

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/cargo

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	install -Dm755 target/release/aprstx debian/aprstx/usr/bin/aprstx
	install -Dm644 aprstx.conf.example debian/aprstx/etc/aprstx/aprstx.conf.example
	install -Dm644 debian/aprstx.service debian/aprstx/lib/systemd/system/aprstx.service
	install -Dm644 debian/aprstx.udev debian/aprstx/lib/udev/rules.d/99-aprstx.rules
	install -Dm644 README.md debian/aprstx/usr/share/doc/aprstx/README.md

override_dh_auto_test:
	cargo test --release --locked

override_dh_clean:
	dh_clean
	rm -rf $(CARGO_HOME)